<p>math-problems works!</p>

<div class="card shadow p-2 bg-white rounded mx-auto" style="width: 90%">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="d-none d-md-table-cell">Id</th>
                <th>Dział</th>
                <th class="d-none d-md-table-cell">Klasa</th>
                <th>Poziom</th>
                <th>Punkty</th>
                <th class="d-none d-md-table-cell">Treść</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of mathProblems">
                <td class="d-none d-md-table-cell">{{p.id}}</td>
                <td>{{p.department}}</td>
                <td class="d-none d-md-table-cell">{{p.yearOfStudy}}</td>
                <td>{{p.level}}</td>
                <td>{{p.points}}</td>
                <td class="d-none d-md-table-cell">{{p.content}}</td>
            </tr>
        </tbody>
    </table>

    <nav *ngIf="totalPages>1" class="d-flex justify-content-end">
        <ul class="pagination pagination-sm">
            <li class="page-item" [ngClass]="{'active':pageNumber === i}"
                *ngFor="let item of [].constructor(totalPages); let i = index">
                <a class="page-link" (click)="fetchMathProblems(i)">{{i+1}}</a>
            </li>
        </ul>
    </nav>

</div>