<p>math-problems works!</p>

<div class="card shadow p-3 mb-5 bg-white rounded mx-auto" style="width: 90%">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Klasa</th>
                <th>Poziom</th>
                <th>Dział</th>
                <th>Punkty</th>
                <th>Treść</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of mathProblems">
                <td>{{p.id}}</td>
                <td>{{p.yearOfStudy}}</td>
                <td>{{p.level}}</td>
                <td>{{p.department}}</td>
                <td>{{p.points}}</td>
                <td>{{p.content}}</td>
            </tr>

        </tbody>
    </table>
</div>